body {
    background-color:black;
    font:arial;
    color:white;
}

h1 {
    color:grey;
    font:verdana;
}

.maindiv{
    background-color:white;
    color:black;
    width:300px;
    padding: 20px;
    margin:auto;
    border-radius:25px;
}

